.bg_image {
  width: 1200px;
  height: 700px;

  background-repeat: "no-repeat";
  background-color: rgb(199, 217, 255);
  background-position: "top center";
  background-size: "cover";
}

.App {
  position: relative;
  display: grid;
  grid-template-columns: 200px 200px 800px;
}

.SelectableList {
  display: grid;
  grid-column: 2/3;
}

.SelectableMap {
  display: grid;
  grid-column: 3/4;
}
